doctype html
html
  head
    title Encuestas
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css")
    script(defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js")

  body
    nav(class="navbar is-light" role="navigation" aria-label="main navigation")
      div(class="container")      
        div(class="navbar-brand")
          div(class="navbar-menu") 
            div(class="navbar-start")
              a(href="/" class="navbar-item") Polls

        div(class="navbar-end")
          div(class="navbar-item")
            div(class="buttons")
              if user
                a(href="/logout" class="button is-primary") Logout
              else
                a(href="/register" class="button is-primary") Sign up
                a(href="/login" class="button is-primary") Log in

    block content
