html
  head
    title Encuestas
  body
    nav
      ul
        li
          a(href="/register") Registro
        li
          a(href="/login") Login
        li
          a(href="/logout") Logout   
    block content
