extends layout

block content
  div
    h3 Register
    form(action="/register", method="post")
      div
        label(for="email") Email
        input(type="text", id="email", name="email")
      div   
        label(for="password") Password
        input(type="password",id="password", name="password")
      button(type = "submit") Register
