extends layout

block content
  div
    h3 Register
    form(action="/register", method="post")
      div
        label(for="email") Email
        input(type="text", id="email", name="email")
      div   
        label(for="password") Password
        input(type="password", name="password")
      button(type = "submit") Register
    a(href="https://github.com/login/oauth/authorize?client_id=9692f3bce1e5609e6f04&scope=user:email") Login with GitHub
